.infoBox {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 35%;
    border: 2px solid #fff;
    overflow: auto;
    background-color: #000;
    padding: 8px;
    height: calc(100vh - 50px);
}
.title {
    text-align: center;
}
.body {
    padding: 5px;
}

.title, .body {
    color: #fff;
}