.taskBar {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 50px;
  background-color: #333;
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-sizing: border-box;
}
.taskBarItem {
  position: relative;
  transition: all 0.3s ease;
  transform-origin: bottom;
  /* outline: 2px solid red; */
}

.taskBarItem:hover {
  transform: translateY(-5px);
}

.taskBarItem::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  background: #fff;
  bottom: 0;
  left: 0;
  transition: width 0.3s ease;
}

.taskBarItem:hover::after {
  width: 100%;
}
.link {
  color: white;
  font-size: 18px;
  /* outline: 2px solid blue; */
  display: inline-block;
  transition: transform 0.3s ease;
}
